/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth; }

body {
  height: 100%;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  flex-shrink: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 18px; }

body > * {
  flex-shrink: 0;
  /* sticky footer */ }

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
  outline: none; }

label {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px; }

h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px; }

h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px; }

input {
  text-align: center; }

.button {
  cursor: pointer; }

.active {
  display: block; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none; }

/* Grid styles */
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media (max-width: 1100px) {
    .container {
      width: 375px; } }

/* Utility */
.none {
  display: none !important; }

.active {
  display: block !important; }

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0; }

.reviews-calc .container {
  margin-top: 129px;
  margin-bottom: 129px; }

.reviews-calc__wrapper {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1100px) {
    .reviews-calc__wrapper {
      flex-direction: column; } }

.reviews-calc__platforms {
  width: 61%; }

.reviews-calc__platforms h1 {
  margin-bottom: 32px;
  position: relative; }
  .reviews-calc__platforms h1:before {
    position: absolute;
    content: "";
    height: 4px;
    width: 90px;
    position: absolute;
    bottom: -2px;
    z-index: -1;
    background-color: #DF0000; }
  @media (max-width: 1100px) {
    .reviews-calc__platforms h1 {
      width: 344px; } }

.reviews-calc__quantity {
  display: flex;
  align-items: center;
  margin-bottom: 49px; }
  @media (max-width: 1100px) {
    .reviews-calc__quantity {
      width: 344px; } }

.reviews-calc__quantity h2 {
  margin-right: 16px; }

.reviews-calc__quantity input {
  width: 90px;
  height: 31px;
  border-radius: 5px;
  border: 0.3px solid rgba(0, 0, 0, 0.25); }

.reviews-calc__quantity svg {
  margin-left: 9px; }

.reviews-calc__quantity input.warning {
  margin-left: 59px;
  background: rgba(244, 130, 130, 0.15); }
  @media (max-width: 1100px) {
    .reviews-calc__quantity input.warning {
      display: none; } }

.reviews-calc__info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.25); }
  @media (max-width: 1100px) {
    .reviews-calc__info {
      width: 344px;
      justify-content: space-between; } }

.reviews-calc__info-left {
  width: 52%;
  min-width: 390px; }
  .reviews-calc__info-left:first-child {
    padding-left: 52px; }
    @media (max-width: 1100px) {
      .reviews-calc__info-left:first-child {
        padding-left: 0; } }
  @media (max-width: 1100px) {
    .reviews-calc__info-left {
      min-width: 0px; } }

.reviews-calc__info-right {
  display: flex;
  justify-content: space-between;
  width: 44.5%; }
  @media (max-width: 1100px) {
    .reviews-calc__info-right h3.pricing {
      display: none; } }
  @media (max-width: 1100px) {
    .reviews-calc__info-right {
      width: auto; } }

.calc-product {
  position: relative;
  display: none;
  flex-direction: column;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.25); }
  @media (max-width: 1100px) {
    .calc-product {
      width: 344px; } }

.calc-product.active {
  display: flex !important; }

.calc-product__wrapper.hidden {
  display: none; }

.calc-product__wrapper.active {
  display: block; }

.calc-product__wrapper {
  display: flex;
  height: 60px;
  padding-top: 13px;
  padding-bottom: 15px; }
  @media (max-width: 1100px) {
    .calc-product__wrapper {
      width: 344px;
      justify-content: space-between; } }

.calc-product__left {
  position: relative;
  height: 30px;
  width: 54%;
  min-width: 390px;
  display: flex;
  align-items: center;
  flex-shrink: 0; }
  @media (max-width: 1100px) {
    .calc-product__left {
      width: auto;
      min-width: 50px; } }

.calc-product__right {
  width: 43%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 1100px) {
    .calc-product__right {
      justify-content: right; } }

.calc-product__tip {
  position: relative;
  display: flex;
  margin-left: 32px; }
  .calc-product__tip:hover .calc-product__tooltip {
    display: block; }
  @media (max-width: 1100px) {
    .calc-product__tip {
      margin-left: 9px;
      flex-direction: column; } }

.calc-product__tip--zoon {
  margin-left: 11px; }

.calc-product__tooltip {
  position: absolute;
  display: none;
  top: -8px;
  left: calc(70%);
  z-index: 99;
  width: 378px;
  height: 34px;
  margin-left: 15px;
  padding: 12px 5px;
  background-color: #fff6dd;
  border-radius: 5px;
  font-weight: 300;
  font-size: 9px;
  line-height: 11px; }
  @media (max-width: 1100px) {
    .calc-product__tooltip {
      margin-left: 0;
      padding-top: 21px;
      padding-bottom: 20px;
      height: auto;
      top: 29px;
      left: -135px;
      width: 344px; } }

.calc-product__tooltip a {
  color: red; }

.calc-product__counter {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 115px;
  font-size: 23px;
  border: 0.3px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px; }

.calc-product__minus,
.calc-product__plus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: initial;
  width: 27px;
  cursor: pointer; }
  .calc-product__minus:hover,
  .calc-product__plus:hover {
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer; }

.calc-product__input {
  width: 60px;
  border: none;
  outline: none; }

.calc-product__minus {
  padding-bottom: 3px; }
  .calc-product__minus::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 60%;
    left: 0px;
    top: 6px;
    border: 0.3px solid rgba(0, 0, 0, 0.1); }

.calc-product__plus::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60%;
  right: 0px;
  top: 6px;
  border: 0.3px solid rgba(0, 0, 0, 0.1); }

.calc-product__price {
  padding-top: 5px; }
  @media (max-width: 1100px) {
    .calc-product__price {
      display: none;
      padding-right: 5px; } }

.calc-product__price-mobile {
  display: none; }
  @media (max-width: 1100px) {
    .calc-product__price-mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 15px;
      padding-top: 17px;
      width: 344px; } }

.calc-product__price--mobile {
  display: block; }

.svg-minus {
  margin-right: 24px;
  margin-left: 3px;
  cursor: pointer; }

.svg-plus {
  margin-right: 19px;
  cursor: pointer; }

.add-platform {
  font-size: 12px; }

.calc-product__add {
  display: flex;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px; }

@media (max-width: 1100px) {
  .prodoktorov {
    width: 100px; } }

.calc-product__scroller {
  position: absolute;
  left: 0;
  top: 5px;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll;
  right: 10px; }
  .calc-product__scroller::-webkit-scrollbar {
    width: 6px; }
  .calc-product__scroller::-webkit-scrollbar-track {
    background: #888;
    border-radius: 9999px; }
  .calc-product__scroller::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    border-radius: 9999px;
    background-clip: padding-box;
    background: red; }

.calc-product__scroller-wrapper {
  position: absolute;
  display: none;
  width: 344px;
  height: 100px;
  top: 45px;
  left: 40px;
  background-color: white;
  border: 0.3px solid rgba(158, 91, 91, 0.35);
  border-radius: 5px; }

.calc-product__scroller-wrapper.active {
  display: block; }

.calc-product__choose {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  padding-left: 7px; }
  .calc-product__choose svg,
  .calc-product__choose img {
    position: absolute;
    left: 40px;
    display: block; }
  .calc-product__choose img {
    width: 135px; }
  .calc-product__choose img.prodoktorov-product {
    width: 250px; }

.calc-product__choose-icon {
  display: none;
  align-items: center;
  width: 280px;
  height: 49px; }
  .calc-product__choose-icon:not(:last-child) {
    margin-bottom: 8px; }
  .calc-product__choose-icon:hover {
    background: rgba(196, 196, 196, 0.1); }

.calc-product__choose-icon.active {
  display: flex !important; }

.reviews-calc__calc-form {
  margin-top: 70px;
  margin-right: 23px;
  padding: 39px 41px 0 31px;
  width: 355px; }
  @media (max-width: 1100px) {
    .reviews-calc__calc-form {
      margin-top: 20px;
      margin-right: 0; } }

.reviews-calc__calc-form h2 {
  font-weight: 600; }

.text-highlight {
  color: #df0000; }

.reviews-calc__input input,
.reviews-calc__textarea textarea,
.reviews-calc__button {
  border: 0; }

.reviews-calc__input,
.reviews-calc__textarea textarea {
  border: 0.3px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.reviews-calc__textarea {
  position: relative; }

.reviews-calc__textarea textarea {
  margin-bottom: 5px;
  height: 107px;
  width: 100%;
  resize: none; }

.reviews-calc__input {
  display: flex;
  align-items: center;
  height: 36px;
  margin-bottom: 24px; }

.reviews-calc__input input {
  width: 238px;
  border-left: 0;
  text-align: left; }

.reviews-calc__calc-form h2,
.reviews-calc__result,
.reviews-calc__notation {
  text-align: center; }

.reviews-calc__result {
  margin-top: 42px;
  margin-bottom: 43px;
  padding-left: 5px;
  font-size: 36px; }

.calc-input-icon {
  display: inline-block;
  padding-left: 13px;
  width: 40px;
  color: rgba(0, 0, 0, 0.15); }

.reviews-calc__notation {
  margin-bottom: 24px;
  width: 289px;
  font-weight: 300;
  font-size: 9px; }
  .reviews-calc__notation a {
    color: red; }

.reviews-calc__button {
  display: block;
  margin-left: 15px;
  width: 262px;
  height: 46px;
  background-color: #df0000;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  cursor: pointer; }

#calc-area {
  padding: 20px 15px 30px 15px; }

.svg-textarea {
  position: absolute;
  top: 66px;
  left: 15px;
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
