.reviews-calc__quantity {
    display: flex;
    align-items: center;
    margin-bottom: 59px;
}

.reviews-calc__quantity h2 {
    margin-right: 16px;
}

.reviews-calc__quantity input {
    width: 90px;
    height: 31px;
    border-radius: 5px;
    border: 0.3px solid rgba(0, 0, 0, 0.35);
}

.reviews-calc__quantity svg{
    margin-left: 9px;
}

.reviews-calc__quantity input.warning {
    margin-left: 59px;
    background: rgba(244, 130, 130, 0.15);
}

.reviews-calc__info {
    display: flex;

    & h3:first-child{
        margin-left: 52px;
    }

    & h3:nth-child(2){
        margin-left: 264px;
    }

    & h3:nth-child(3){
        margin-left: 107px;
    }
}