.reviews-calc__quantity {
    display: flex;
    align-items: center;
    margin-bottom: 59px;

}

.reviews-calc__quantity h2 {
    margin-right: 16px;
}

.reviews-calc__quantity input {
    width: 90px;
    height: 31px;
    border-radius: 5px;
    border: .3px solid rgba(0, 0, 0, 0.25);
}

.reviews-calc__quantity svg{
    margin-left: 9px;
}

.reviews-calc__quantity input.warning {
    margin-left: 59px;
    background: rgba(244, 130, 130, 0.15);
}

.reviews-calc__info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    padding-bottom: 14px;

    border-bottom: .3px solid rgba(0, 0, 0, 0.25);
}

.reviews-calc__info-left {
    width: 50%;
    min-width: 390px;

    &:first-child{
        padding-left: 52px;
    }
}

.reviews-calc__info-right{
    display: flex;
    justify-content: space-between;

    width: 50%;
}