.reviews-calc .container {
    margin-top: 129px;
    margin-bottom: 129px;
}

.reviews-calc__wrapper{
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile){
        flex-direction: column;
    }
}

.reviews-calc__platforms {
    width: 61%;
}

.reviews-calc__platforms h1 {
    margin-bottom: 32px;
    position: relative;

    &:before{
        position: absolute;
        content: "";
        height: 4px;
        width: 90px;
        position: absolute;
        bottom: -2px;
        z-index: -1;
        background-color: #DF0000;

    }

    @media (max-width: $mobile){
        width: $mobile-width;
    }
}
